---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
---

<Layout>
	<section class="pl-32 pt-12  h-full">
		<div class="text-zinc-700 text-sm italic">
			parrafo de la esquina 
		</div>
		<div class="grid grid-cols-7 h-full pt-8 pr-8">
			<div class="col-span-2 pt-6">
				<h1 class="font-extrabold text-9xl">01</h1>
			</div>
			<div class="border-t-6 col-span-2 pt-6">
				<h2 class="text-6xl font-semibold">Name of first project</h2>
			</div>
			<div class="border-t-6 col-span-3 pt-6 text-xl font-medium text-Accent">
				<p>En resumen, tu código ya está utilizando CSS Grid (a través de Tailwind CSS) para repartir el espacio de manera equitativa entre los tres divs. Si necesitas más control sobre el ancho de cada columna, puedes personalizar las clases de CSS Grid en lugar de usar grid-cols-3.</p>
			</div>
		</div>
	</section>
</Layout>
