---

---

<header class=" p-4 flex items-center  border border-Accent z-10">
    <a href="#inicio" class="flex-shrink-0">
        <span class=" flex items-center justify-center h-14 w-14  border-3 rounded-full  text-xl font-bold">LM</span>
    </a>

    <nav class="ml-12 h-full">
        <ul class="flex items-center h-full justify-start gap-4">
            <li class="h-full">
                <a href="#proyectos" class="flex h-full px-6 py-2 items-center  rounded-md transition-colors duration-200">
                    <div class="flex flex-col items-start justify-center">
                        <span class="text-sm text-Accent -mb-1">01</span>
                        <span class="text-base font-semibold hover:underline">Proyectos</span>
                    </div>
                </a>
            </li>
            <li class="h-full">
                <a href="#quien-soy" class="flex h-full px-6 py-2 items-center   rounded-md transition-colors duration-200">
                    <div class="flex flex-col items-start justify-center">
                        <span class="text-sm text-Accent -mb-1">02</span>
                        <span class="text-base font-semibold hover:underline">Quien soy</span>
                    </div>
                </a>
            </li>
            <li class="h-full">
                <a href="#experiencia" class="flex h-full px-6 py-2 items-center   rounded-md transition-colors duration-200">
                    <div class="flex flex-col items-start justify-center">
                        <span class="text-sm text-Accent -mb-1">03</span>
                        <span class="text-base font-semibold hover:underline">Experiencia</span>
                    </div>
                </a>
            </li>
            <li class="h-full">
                <a href="#blog" class="flex h-full px-6 py-2 items-center   rounded-md transition-colors duration-200">
                    <div class="flex flex-col items-start justify-center">
                        <span class="text-sm text-Accent -mb-1">04</span>
                        <span class="text-base font-semibold hover:underline">Blog</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav> 
</header>